<!DOCTYPE html>
<html>

  <head>
     {% seo %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <p>{% avatar hassek size=100 %}</p>
          <h1 id="project_title">{{ site.title}}</h1>
          <h2 id="project_tagline">{{ site.description }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% include svg-icons.html %}
      </footer>
    </div>

    <!-- JavaScript -->
    <script>
        {% include filtering.js %}
        {% include analytics.js %}
    </script>
  </body>
</html>
