<!DOCTYPE html>
<html>
  <head>
    {% seo %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/icon.min.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <div class="svg-icons">
            {% include svg-icons.html %}
          </div>
          <div class="header">
            <p>{% avatar hassek size=100 %}</p>
            <h1 id="project_title">{{ site.title}}</h1>
            <h2 id="project_tagline" style="">{{ site.description }}</h2>
          </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% include svg-icons.html %}
        <div class="fb-like" size="large" data-href="http://hassek.github.io" data-layout="button_count" data-action="like" data-show-faces="false"></div>
        <g:plusone size="standard"></g:plusone>
      </footer>
    </div>

    <!-- JavaScript -->
    <script>
        {% include filtering.js %}
        {% include analytics.js %}
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
